#h2-tag{
    color: blue ;
}
#h1-tag{
    font-weight:bold;
}
.midel{
    border: 5px black;
}
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 100px;
}
#txt{
    
    color: darkgreen;    
}
.btn btn-primary{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.email{
    position: relative;
    left: 150px;
    color: darkgreen;
}